openapi: 3.0.1
info:
  title: API Gateway REST Proxy
  version: v0.6.1+20250724.144139.
servers:
- url: http://api.polymarketexchange.com
tags:
- name: MarketDataAPI
- name: MarketDataSubscriptionAPI
- name: OrderAPI
- name: OrderEntryAPI
- name: PositionAPI
- name: QuoteAPI
- name: QuoteEntryAPI
security:
  - bearerAuth: [] # use the same name as above
paths:
  /v1beta1/cancel_order:
    post:
      tags:
      - OrderEntryAPI
      summary: Cancel Order
      operationId: OrderEntryAPI_CancelOrder
      requestBody:
        description: Request to cancel an existing order with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CancelOrderRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1CancelOrderResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/cancel_order_list:
    post:
      tags:
      - OrderEntryAPI
      summary: Cancel Order (List)
      operationId: OrderEntryAPI_CancelOrderList
      requestBody:
        description: Request to cancel multiple existing orders with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CancelOrderListRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1CancelOrderListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/cancel_replace_order:
    post:
      tags:
      - OrderEntryAPI
      summary: Cancel or Replace Order
      operationId: OrderEntryAPI_CancelReplaceOrder
      requestBody:
        description: Request to update an existing order with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connamaraep3v1beta1CancelReplaceOrderRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1CancelReplaceOrderResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/cancel_replace_order_list:
    post:
      tags:
      - OrderEntryAPI
      summary: Cancel or Replace Orders (List)
      operationId: OrderEntryAPI_CancelReplaceOrderList
      requestBody:
        description: Request to update multiple existing orders with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CancelReplaceOrderListRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1CancelReplaceOrderListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/create_market_data_subscription:
    post:
      tags:
      - MarketDataSubscriptionAPI
      summary: Create Market Data Subscription
      operationId: MarketDataSubscriptionAPI_CreateMarketDataSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CreateMarketDataSubscriptionRequest'
        required: true
      responses:
        "200":
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1CreateMarketDataSubscriptionResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    $ref: '#/components/schemas/v1beta1CreateMarketDataSubscriptionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/create_order_subscription:
    post:
      tags:
      - OrderEntryAPI
      summary: Create Order Subscription
      operationId: OrderEntryAPI_CreateOrderSubscription
      requestBody:
        description: Request to start an order subscription to get snapshots and updates
          for this session.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CreateOrderSubscriptionRequest'
        required: true
      responses:
        "200":
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1CreateOrderSubscriptionResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    $ref: '#/components/schemas/v1beta1CreateOrderSubscriptionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/create_position_subscription:
    post:
      tags:
      - PositionAPI
      summary: Create Position Subscription
      operationId: PositionAPI_CreatePositionSubscription
      requestBody:
        description: Request to start a position subscription to get snapshots and
          updates for this session.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CreatePositionSubscriptionRequest'
        required: true
      responses:
        "200":
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1CreatePositionSubscriptionResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    $ref: '#/components/schemas/v1beta1CreatePositionSubscriptionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/create_quote:
    post:
      tags:
      - QuoteEntryAPI
      summary: Create Quote
      operationId: QuoteEntryAPI_CreateQuote
      requestBody:
        description: Request to insert a quote into the exchange.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CreateQuoteRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1CreateQuoteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/create_quote_subscription:
    post:
      tags:
      - QuoteEntryAPI
      summary: Create Quote Subscription
      operationId: QuoteEntryAPI_CreateQuoteSubscription
      requestBody:
        description: Request to start a quote subscription to get snapshots and updates
          for this session.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CreateQuoteSubscriptionRequest'
        required: true
      responses:
        "200":
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1CreateQuoteSubscriptionResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    $ref: '#/components/schemas/v1beta1CreateQuoteSubscriptionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/create_request_for_quote:
    post:
      tags:
      - QuoteEntryAPI
      summary: Create RFQ
      operationId: QuoteEntryAPI_CreateRequestForQuote
      requestBody:
        description: Request to insert a request for quote into the exchange.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1CreateRequestForQuoteRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1CreateRequestForQuoteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/delete_quote:
    post:
      tags:
      - QuoteEntryAPI
      summary: Delete Quote
      operationId: QuoteEntryAPI_DeleteQuote
      requestBody:
        description: Request to delete a quote from the exchange.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1DeleteQuoteRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1DeleteQuoteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/download_executions:
    post:
      tags:
      - OrderAPI
      summary: Download Executions 
      operationId: OrderAPI_DownloadExecutions
      requestBody:
        description: Request to download executions filtered using the given details
          as a csv.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1DownloadExecutionsRequest'
        required: true
      responses:
        "200":
          description: bytes array of file stream.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1DownloadExecutionsResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    type: object
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/download_orders:
    post:
      tags:
      - OrderAPI
      summary: Download Orders
      operationId: OrderAPI_DownloadOrders
      requestBody:
        description: Request to download orders filtered using the given details as
          a csv.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1DownloadOrdersRequest'
        required: true
      responses:
        "200":
          description: bytes array of file stream.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1DownloadOrdersResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    type: object
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/download_trades:
    post:
      tags:
      - OrderAPI
      summary: Download Trades
      operationId: OrderAPI_DownloadTrades
      requestBody:
        description: Request to download trades filtered using the given details as
          a csv.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1DownloadTradesRequest'
        required: true
      responses:
        "200":
          description: bytes array of file stream.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of v1beta1DownloadTradesResponse
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                  result:
                    type: object
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/get_account_balance:
    post:
      tags:
      - PositionAPI
      summary: Get Account Balance
      operationId: PositionAPI_GetAccountBalance
      requestBody:
        description: Request to get the balance of the given account in the given
          currency.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1GetAccountBalanceRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1GetAccountBalanceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/get_instrument_metadata:
    post:
      tags:
      - MarketDataAPI
      summary: Get Instrument Metadata
      operationId: MarketDataAPI_GetInstrumentMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1GetInstrumentMetadataRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1GetInstrumentMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/get_open_orders:
    post:
      tags:
      - OrderEntryAPI
      summary: Get Open Orders
      description: Returns a snapshot of working orders.
      operationId: OrderEntryAPI_GetOpenOrders
      requestBody:
        description: Request to get open orders.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1GetOpenOrdersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1GetOpenOrdersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/get_trade_stats:
    post:
      tags:
      - OrderAPI
      summary: Get Trade Stats 
      description: Gets aggregated trade data for a given period of time.
      operationId: OrderAPI_GetTradeStats
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1GetTradeStatsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1GetTradeStatsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/insert_order:
    post:
      tags:
      - OrderEntryAPI
      summary: Insert Order
      description: Inserts a new order into the exchange and returns the assigned order ID.
      operationId: OrderEntryAPI_InsertOrder
      requestBody:
        description: Request to insert an order with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connamaraep3v1beta1InsertOrderRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1InsertOrderResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/insert_order_cross:
    post:
      tags:
      - OrderEntryAPI
      summary: Insert Order Cross 
      description: Creates a new order cross and returns the exchange
        assigned order IDs.
      operationId: OrderEntryAPI_InsertOrderCross
      requestBody:
        description: Request to insert orders for a cross with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connamaraep3v1beta1InsertOrderCrossRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1InsertOrderCrossResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/insert_order_list:
    post:
      tags:
      - OrderEntryAPI
      summary: Insert Order (List) 
      description: Inserts a list of orders into the exchange and returns the exchange assigned order IDs.
      operationId: OrderEntryAPI_InsertOrderList
      requestBody:
        description: Request to insert multiple orders with the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1InsertOrderListRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1InsertOrderListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/list_account_balances:
    post:
      tags:
      - PositionAPI
      summary: List Account Balances
      description: Lists the currency balances in an account.
      operationId: PositionAPI_ListAccountBalances
      requestBody:
        description: Request to list the balances of a given account for all currencies.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ListAccountBalancesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListAccountBalancesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/list_account_positions:
    post:
      tags:
      - PositionAPI
      summary: List Account Positions
      description: Lists the positions within an account.
      operationId: PositionAPI_ListAccountPositions
      requestBody:
        description: Request to list the positions of a given account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ListAccountPositionsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListAccountPositionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/list_dealers:
    post:
      tags:
      - QuoteEntryAPI
      summary: List Dealers
      description: Returns a list of whitelisted firms that are able to receive a request
        for quote that I send.
      operationId: QuoteEntryAPI_ListDealers
      requestBody:
        description: Request to get the whitelist of firms that are able to receive
          a request for quote that I send.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ListDealersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListDealersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/list_instruments:
    post:
      tags:
      - MarketDataAPI
      summary: List Instruments
      description: Returns a list of instruments matching the request.
      operationId: MarketDataAPI_ListInstruments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ListInstrumentsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListInstrumentsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/list_requesters:
    post:
      tags:
      - QuoteEntryAPI
      summary: List Requesters
      description: Returns the whitelist of firms that are able to send a request for quote to my firm.
      operationId: QuoteEntryAPI_ListRequesters
      requestBody:
        description: Request to get the whitelist of firms that are able to send a
          request for quote to my firm.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ListRequestersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListRequestersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/list_symbols:
    post:
      tags:
      - MarketDataAPI
      summary: List Symbols
      description: Returns a list of symbols on the exchange.
      operationId: MarketDataAPI_ListSymbols
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ListSymbolsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListSymbolsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/pass_quote:
    post:
      tags:
      - QuoteEntryAPI
      summary: PassQuote passes on a quote from the exchange.
      operationId: QuoteEntryAPI_PassQuote
      requestBody:
        description: Request to pass on a quote from the exchange.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1PassQuoteRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1PassQuoteResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/preview_order:
    post:
      tags:
      - OrderEntryAPI
      summary: Preview Order
      description: Creates an order and assigns attributes but does not insert
        the order into the exchange.
      operationId: OrderEntryAPI_PreviewOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1PreviewOrderRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1PreviewOrderResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/search_executions:
    post:
      tags:
      - OrderAPI
      summary: Search Executions
      description: Searches for exchange executions using the given details
        to filter and returns a list of the found executions.    
      operationId: OrderAPI_SearchExecutions
      requestBody:
        description: Request to search for executions filtered using the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1SearchExecutionsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1SearchExecutionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/search_orders:
    post:
      tags:
      - OrderAPI
      summary: Search Orders
      description: Searches for exchange orders using the given details to
        filter and returns a list of the found orders.
      operationId: OrderAPI_SearchOrders
      requestBody:
        description: Request to search for orders filtered using the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1SearchOrdersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1SearchOrdersResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/search_quotes:
    post:
      tags:
      - QuoteAPI
      summary: Search Quotes
      description: Lists all quotes matching the request.
      operationId: QuoteAPI_SearchQuotes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1SearchQuotesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1SearchQuotesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/search_request_for_quotes:
    post:
      tags:
      - QuoteAPI
      summary: Search Request For Quotes
      description: Lists all request for quotes matching the request.
      operationId: QuoteAPI_SearchRequestForQuotes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1SearchRequestForQuotesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1SearchRequestForQuotesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1beta1/search_trades:
    post:
      tags:
      - OrderAPI
      summary: Search Trades
      description: Searches for exchange trades using the given details to
        filter and returns a list of the found trades.
      operationId: OrderAPI_SearchTrades
      requestBody:
        description: Request to search for trades filtered using the given details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1SearchTradesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1SearchTradesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: apiKey
      in: header
      name: Authorization

  schemas:
    CreateMarketDataSubscriptionResponseBookEntry:
      type: object
      properties:
        px:
          type: string
          format: int64
        qty:
          type: string
          format: int64
        symbol_sub_type:
          type: string
      description: BookEntry lists a price and volume for a given record in a market
        data update.
    GetAccountBalanceResponseSecurityEntry:
      type: object
      properties:
        available_value:
          type: string
          description: "Represents the available collateral value of the security,\
            \ which is the balance multiplied by the market value less the haircut\
            \ percentage."
        balance:
          type: string
          description: Amount of the security held in the account.
        haircut:
          type: string
          description: The haircut value of a single unit of the security ID in units
            of basis points (100 basis points is 1%).
          format: int64
        market_value:
          type: string
          description: The actual mark to market value of the security.
        notional_value:
          type: string
          description: "Represents the notional value of the security, which is the\
            \ balance multiplied by the market value."
      description: SecurityEntry describes the detailed valuation of a security with
        respect to the market price and adjustments applied to augment a base currency's
        collateral.
    connamaraep3v1beta1CancelReject:
      type: object
      properties:
        clord_id:
          title: Client assigned ID for the order
          type: string
        is_replace:
          title: Set if this cancel reject was for a replace or not
          type: boolean
        order_id:
          title: Maps to exchange assigned ID for the order that could not be canceled
            or replaced
          type: string
        reject_reason:
          $ref: '#/components/schemas/v1beta1CxlRejReason'
        text:
          title: Free format text
          type: string
        transact_time:
          type: string
          format: date-time
      description: CancelReject denotes a cancel or replace request that was rejected.
    connamaraep3v1beta1CancelReplaceOrderRequest:
      type: object
      properties:
        all_or_none:
          type: boolean
          description: "A flag that if set indicates that either all of the order\
            \ quantity should be filled, or none of it (partial fills will not be\
            \ allowed)."
        best_limit:
          type: boolean
          description: A flag that if set indicates that the price of a limit order
            shall be set to the price at the top of the book on the same side as this
            order.
        clord_id:
          type: string
          description: Client assigned ID for the cancel replace order.
        good_till_time:
          type: string
          description: The time at which this order shall expire if the time in force
            is set as good till time.
          format: date-time
        immediately_executable_limit:
          type: boolean
          description: "A flag that if set indicates that the price of a limit order\
            \ shall be set to the price at the top of the book on the opposing side\
            \ as this order, thus able to immediately match."
        manual_order_indicator:
          $ref: '#/components/schemas/v1beta1ManualOrderIndicator'
        min_qty:
          type: string
          description: Desired minimum quantity for the replaced order (optional for
            IOC time in force).
          format: int64
        order_id:
          type: string
          description: Exchange assigned ID for the order to be replaced (required).
        order_qty:
          type: string
          description: Desired order quantity for the replaced order.
          format: int64
        participate_dont_initiate:
          type: boolean
          description: A flag that if set indicates that immediate match is not desired.
        price:
          type: string
          description: Desired limit price for the replaced order (required for limit
            and stop limit orders).
          format: int64
        stop_price:
          type: string
          description: Desired stop price for the replaced order (required for stop
            and stop limit orders).
          format: int64
        strict_limit:
          type: boolean
          description: A flag that if set indicates this particular order must be
            filled at the exact limit price specified without price improvement.
        symbol:
          type: string
          description: Desired instrument's symbol (required).
        symbol_sub_type:
          type: string
          description: The sub type of the instrument symbol.
        time_in_force:
          $ref: '#/components/schemas/v1beta1TimeInForce'
      description: Request to update an existing order with the given details.
    connamaraep3v1beta1Execution:
      type: object
      properties:
        aggressor:
          title: "if a fill, true if this execution belongs to aggressor order, false\
            \ if belongs to passive order"
          type: boolean
        commission_notional_collected:
          type: string
          description: "The notional value of commissions collected as part of the\
            \ execution, it is unscaled so one must apply the parent instrument price\
            \ and fractional quantity scales to get the exact decimal value."
          format: int64
        commission_spread_px:
          type: string
          description: "The price at which a commission spread order filled at from\
            \ the viewpoint of the firm that placed the order. For all other orders,\
            \ this field matches the last_px."
          format: int64
        id:
          title: Exchange assigned ID for this execution
          type: string
        last_px:
          type: string
          format: int64
        last_shares:
          type: string
          format: int64
        leg_prices:
          title: "if a fill on a multi leg instrument, contains the derived leg prices\
            \ at the time of execution"
          type: array
          items:
            $ref: '#/components/schemas/v1beta1LegPrice'
        order:
          $ref: '#/components/schemas/connamaraep3v1beta1Order'
        order_reject_reason:
          $ref: '#/components/schemas/v1beta1OrdRejectReason'
        text:
          title: Free format text
          type: string
        trace_id:
          title: "if present, contains the exchange trace identifier that resulted\
            \ in this execution"
          type: string
        trade_id:
          title: "if a fill, the trade id for this transaction"
          type: string
        transact_time:
          type: string
          format: date-time
        transact_trade_date:
          $ref: '#/components/schemas/v1beta1Date'
        type:
          $ref: '#/components/schemas/v1beta1ExecutionType'
        unsolicited_cancel_reason:
          $ref: '#/components/schemas/v1beta1UnsolicitedCxlReason'
      description: Execution denotes a state change for an order in the exchange.
    connamaraep3v1beta1InsertOrderCrossRequest:
      type: object
      properties:
        block_trade_indicator:
          type: boolean
          description: A flag that if set indicates that this cross represents a block
            trade.
        cross_id:
          type: string
          description: Client assigned free-form ID for the cross (required).
        cross_prioritized_side:
          $ref: '#/components/schemas/v1beta1Side'
        cross_type:
          $ref: '#/components/schemas/v1beta1CrossType'
        requests:
          type: array
          description: A list of orders to insert (Only supports 2 orders at a time).
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1InsertOrderRequest'
        transaction_booked_time:
          type: string
          description: The time at which the order was booked.
          format: date-time
      description: Request to insert orders for a cross with the given details.
    connamaraep3v1beta1InsertOrderRequest:
      type: object
      properties:
        account:
          type: string
          description: The trading account for this order.
        all_or_none:
          type: boolean
          description: "A flag that if set indicates that either all of the order\
            \ quantity should be filled, or none of it (partial fills will not be\
            \ allowed)."
        best_limit:
          type: boolean
          description: A flag that if set indicates that the price of a limit order
            shall be set to the price at the top of the book on the same side as this
            order.
        cash_order_qty:
          type: string
          description: |-
            Fixed point decimal representation of the total cash order qty.
            (One of order_qty and cash_order_qty must be set. If set, must be > 0 and order_type must be MARKET_TO_LIMIT).
          format: int64
        client_account_id:
          type: string
          description: Client assigned free-form account ID for the order.
        client_participant_id:
          type: string
          description: Client assigned free-form participant ID for the order.
        clord_id:
          type: string
          description: Client assigned ID for the order.
        commission_override_basis_points:
          type: string
          description: "If present and an eligible singular commission with allow_order_entry_override\
            \ is present for the order, assigns basis points to this value."
        commission_override_flat_fee:
          type: string
          description: "If present and an eligible singular commission with allow_order_entry_override\
            \ is present for the order, assigns flat fee to this value."
        good_till_time:
          type: string
          description: "The time at which this order shall expire (required for time_in_force\
            \ of GOOD_TILL_TIME, ignored otherwise)."
          format: date-time
        ignore_price_validity_checks:
          type: boolean
          description: "A flag that if set indicates that this order is exempt from\
            \ instrument level price, order, and total notional limits. Only allowed\
            \ in case of market sell orders to support liquidation."
        immediately_executable_limit:
          type: boolean
          description: "A flag that if set indicates that the price of a limit order\
            \ shall be set to the price at the top of the book on the opposing side\
            \ as this order, thus able to immediately match."
        manual_order_indicator:
          $ref: '#/components/schemas/v1beta1ManualOrderIndicator'
        min_qty:
          type: string
          description: Minimum order quantity to fill at once. Matches for fills under
            this amount will not be made (optional for IOC time in force).
          format: int64
        order_capacity:
          $ref: '#/components/schemas/v1beta1OrderCapacity'
        order_qty:
          type: string
          description: "The quantity to be ordered (One of order_qty and cash_order_qty\
            \ must be set. If set, must be > 0)."
          format: int64
        participate_dont_initiate:
          type: boolean
          description: A flag that if set indicates that immediate match is not desired.
        price:
          type: string
          description: Integer representation of limit price (required for limit and
            stop limit orders).
          format: int64
        quote:
          type: string
          description: "If set, the quote to accept."
        self_match_prevention_id:
          type: string
          description: Client assigned Self Match Prevention ID (required to use the
            optional Self Match Prevention functionality).
        self_match_prevention_instruction:
          $ref: '#/components/schemas/v1beta1SelfMatchPreventionInstruction'
        session_id:
          type: string
          description: Client assigned Session ID (required to use the optional Cancel
            on Disconnect functionality).
        side:
          $ref: '#/components/schemas/v1beta1Side'
        stop_price:
          type: string
          description: Integer representation of stop price (required for stop and
            stop limit orders).
          format: int64
        strict_limit:
          type: boolean
          description: A flag that if set indicates this particular order must be
            filled at the exact limit price specified without price improvement.
        symbol:
          type: string
          description: The symbol of the instrument to be ordered (required for all
            orders).
        symbol_sub_type:
          type: string
          description: The sub type of the instrument symbol.
        time_in_force:
          $ref: '#/components/schemas/v1beta1TimeInForce'
        trigger_method:
          $ref: '#/components/schemas/v1beta1ConditionTriggerMethod'
        type:
          $ref: '#/components/schemas/v1beta1OrderType'
        user:
          type: string
          description: "The participant for which an agent is submitting the order\
            \ (an agent must set this field, ignored otherwise)."
      description: Request to insert an order with the given details.
    connamaraep3v1beta1Instrument:
      type: object
      properties:
        base_currency:
          type: string
        basis_swap_attributes:
          $ref: '#/components/schemas/v1beta1BasisSwapAttributes'
        block_trade_threshold:
          $ref: '#/components/schemas/v1beta1BlockTradeThreshold'
        clearing_house:
          title: name of the clearing house that clears the instrument
          type: string
        create_time:
          title: The creation timestamp of the Instrument
          type: string
          format: date-time
        cross_order_resting_duration:
          title: Amount of time an order from a cross should rest in the book before
            matching
          type: string
        custom_attributes:
          $ref: '#/components/schemas/protobufAny'
        delete_time:
          title: The deletion timestamp of the Instrument
          type: string
          format: date-time
        description:
          title: description of the instrument
          type: string
        event_attributes:
          $ref: '#/components/schemas/v1beta1EventAttributes'
        expiration_date:
          $ref: '#/components/schemas/v1beta1Date'
        expiration_time:
          $ref: '#/components/schemas/v1beta1TimeOfDay'
        forex_attributes:
          $ref: '#/components/schemas/v1beta1ForexAttributes'
        forward_rate_agreement_swap_attributes:
          $ref: '#/components/schemas/v1beta1ForwardRateAgreementSwapAttributes'
        forward_starting_interest_rate_swap_attributes:
          $ref: '#/components/schemas/v1beta1ForwardStartingInterestRateSwapAttributes'
        fractional_qty_scale:
          title: The scale applied to an instruments quantity in order to represent
            fractional shares
          type: string
          format: int64
        future_attributes:
          $ref: '#/components/schemas/v1beta1FutureAttributes'
        holiday_calendars:
          title: holiday calendars assigned to the instrument
          type: array
          items:
            type: string
        interest_rate_swap_attributes:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributes'
        json_attributes:
          type: string
        last_trade_date:
          $ref: '#/components/schemas/v1beta1Date'
        last_trade_time:
          $ref: '#/components/schemas/v1beta1TimeOfDay'
        metadata:
          title: Miscellaneous metadata to be stored with the instrument
          type: object
          additionalProperties:
            type: string
        minimum_trade_qty:
          type: string
          format: int64
        minimum_unaffiliated_firms:
          title: minimum number of unaffiliated firms required when submitting request
            for quotes
          type: string
          format: int64
        multileg_attributes:
          $ref: '#/components/schemas/v1beta1MultilegAttributes'
        multiplier:
          type: number
          format: double
        non_deliverable_forward_attributes:
          $ref: '#/components/schemas/v1beta1NonDeliverableForwardAttributes'
        non_tradable:
          title: "Set if the instrument should be non-tradable, as in the case of\
            \ an index"
          type: boolean
        option_attributes:
          $ref: '#/components/schemas/v1beta1OptionAttributes'
        order_size_limit:
          $ref: '#/components/schemas/v1beta1OrderSizeLimit'
        overnight_index_swap_attributes:
          $ref: '#/components/schemas/v1beta1OvernightIndexSwapAttributes'
        position_limit:
          type: string
          format: int64
        price_limit:
          $ref: '#/components/schemas/v1beta1PriceLimit'
        price_scale:
          title: The scale applied to an instruments price in order to represent prices
            as fixed point decimals
          type: string
          format: int64
        product_id:
          title: Product ID for this instrument
          type: string
        single_period_swap_attributes:
          $ref: '#/components/schemas/v1beta1SinglePeriodSwapAttributes'
        start_date:
          $ref: '#/components/schemas/v1beta1Date'
        start_time:
          $ref: '#/components/schemas/v1beta1TimeOfDay'
        state:
          $ref: '#/components/schemas/connamaraep3v1beta1InstrumentState'
        symbol:
          title: unique identifier for this instrument
          type: string
        termination_date:
          $ref: '#/components/schemas/v1beta1Date'
        tick_size:
          type: number
          format: double
        trade_day_roll_convention:
          $ref: '#/components/schemas/v1beta1TradeDayRollConvention'
        trade_day_roll_schedule:
          type: array
          description: "If set, contains the rules that define when trade days roll\
            \ to the next trade day."
          items:
            $ref: '#/components/schemas/v1beta1TradeDayRoll'
        trade_settlement_period:
          title: number of days required to settle a trade of this instrument
          type: string
          format: int64
        trading_schedule:
          type: array
          items:
            $ref: '#/components/schemas/v1beta1TradingHours'
        update_time:
          title: The update timestamp of the Instrument
          type: string
          format: date-time
        zero_coupon_inflation_swap_attributes:
          $ref: '#/components/schemas/v1beta1ZeroCouponInflationSwapAttributes'
      description: Instrument is an asset that can be trading on the exchange platform.
    connamaraep3v1beta1InstrumentState:
      type: string
      description: InstrumentState denotes the current state of an instrument.
      default: INSTRUMENT_STATE_CLOSED
      enum:
      - INSTRUMENT_STATE_CLOSED
      - INSTRUMENT_STATE_OPEN
      - INSTRUMENT_STATE_PREOPEN
      - INSTRUMENT_STATE_SUSPENDED
      - INSTRUMENT_STATE_EXPIRED
      - INSTRUMENT_STATE_TERMINATED
      - INSTRUMENT_STATE_HALTED
      - INSTRUMENT_STATE_MATCH_AND_CLOSE_AUCTION
    connamaraep3v1beta1Order:
      type: object
      properties:
        account:
          title: Account is the trading account for this order
          type: string
        all_or_none:
          title: Set if all or none of the order qty should be filled
          type: boolean
        avg_px:
          title: Average fill price
          type: string
          format: int64
        best_limit:
          type: boolean
          description: A flag that if set indicates that the price of a limit order
            shall be set to the price at the top of the book on the same side as this
            order.
        block_trade_indicator:
          type: boolean
          description: A flag that if set indicates that this order is part of a block
            trade.
        cash_order_qty:
          title: Fixed point decimal representation of the total cash order qty
          type: string
          format: int64
        client_account_id:
          title: Client assigned free-form account ID for the order
          type: string
        client_participant_id:
          title: Client assigned free-form participant ID for the order
          type: string
        clord_id:
          title: Client assigned ID for the order
          type: string
        collateral_memo:
          title: The risk status given by the position risk check
          type: string
        commission_notional_total_collected:
          type: string
          description: "The total notional value of all commissions collected on the\
            \ order so far, it is unscaled so one must apply the parent instrument\
            \ price and fractional quantity scales to get the exact decimal value."
          format: int64
        commissions_basis_points:
          title: The total basis points associated with all commissions on this order
          type: string
        context:
          $ref: '#/components/schemas/v1beta1OrderContext'
        create_time:
          title: The time this order was created
          type: string
          format: date-time
        cross_id:
          title: Client assigned Order Cross ID
          type: string
        cum_qty:
          title: Cumulative filled order qty
          type: string
          format: int64
        fractional_quantity_scale:
          type: string
          description: The fractional quantity scale of the order assigned from the
            associated instrument for convenience in scaling display values.
          format: int64
        good_till_time:
          title: The time at which this order shall expire if the time in force is
            set as good till time
          type: string
          format: date-time
        host_cross_id:
          title: Exchange generated Host Cross ID
          type: string
        id:
          title: Exchange assigned ID for the order
          type: string
        ignore_price_validity_checks:
          type: boolean
          description: "A flag that if set indicates that this order is exempt from\
            \ instrument level price, order, and total notional limits. Only allowed\
            \ in case of market sell orders to support liquidation."
        immediately_executable_limit:
          type: boolean
          description: "A flag that if set indicates that the price of a limit order\
            \ shall be set to the price at the top of the book on the opposing side\
            \ as this order, thus able to immediately match."
        insert_time:
          title: The time this order was inserted into the book or the time the order
            was replaced in the book
          type: string
          format: date-time
        last_trade_id:
          title: "Set to the last, most recent trade ID that this order was party\
            \ to"
          type: string
        last_transact_time:
          type: string
          description: The most recent time this order was updated in any capacity.
          format: date-time
        leaves_qty:
          title: Remaining working qty
          type: string
          format: int64
        maker_commissions_basis_points:
          type: string
          description: The total basis points associated with all commissions on this
            order if it executes on the passive side of a trade.
        manual_order_indicator:
          $ref: '#/components/schemas/v1beta1ManualOrderIndicator'
        min_qty:
          title: Minimum quantity (optional for IOC time in force)
          type: string
          format: int64
        order_capacity:
          $ref: '#/components/schemas/v1beta1OrderCapacity'
        order_qty:
          type: string
          format: int64
        parent_order_id:
          title: The parent order this order is the child of
          type: string
        participant:
          title: Participant that placed this order
          type: string
        participate_dont_initiate:
          title: Set if immediate match is not desired
          type: boolean
        price:
          title: "Integer price representation (for limit, stop limit)"
          type: string
          format: int64
        price_scale:
          type: string
          description: The price scale of the order assigned from the associated instrument
            for convenience in scaling display values.
          format: int64
        price_to_quantity_filled:
          title: Denotes the quantity filled at each price point over the life of
            the order
          type: object
          additionalProperties:
            type: string
            format: int64
        priority_weight:
          title: Relative priority among the same price level
          type: string
          format: int64
        risk_check_time:
          title: The time at which this order was risk checked
          type: string
          format: date-time
        self_match_prevention_instruction:
          $ref: '#/components/schemas/v1beta1SelfMatchPreventionInstruction'
        side:
          $ref: '#/components/schemas/v1beta1Side'
        state:
          $ref: '#/components/schemas/v1beta1OrderState'
        stop_price:
          title: "Integer stop price representation (for stop, stop limit)"
          type: string
          format: int64
        strict_limit:
          title: Set if this particular order must be filled at the exact limit price
            specified without price improvement
          type: boolean
        submitting_participant:
          title: "If this order is being submitted on behalf of another entity, set\
            \ to the agent submitter"
          type: string
        symbol:
          type: string
        symbol_sub_type:
          title: The sub type of the instrument symbol
          type: string
        time_in_force:
          $ref: '#/components/schemas/v1beta1TimeInForce'
        transaction_booked_time:
          type: string
          description: "In the context of an order cross, the time at which the order\
            \ was booked."
          format: date-time
        trigger_method:
          $ref: '#/components/schemas/v1beta1ConditionTriggerMethod'
        type:
          $ref: '#/components/schemas/v1beta1OrderType'
      description: Order indicates an order received by the exchange.
    connamaraep3v1beta1Quote:
      type: object
      properties:
        account:
          title: Account is the trading account for this quote
          type: string
        client_id:
          title: Client assigned ID for this quote
          type: string
        clord_id:
          title: Client assigned ID for the order
          type: string
        expiration_time:
          title: Timestamp at which this quote will expire
          type: string
          format: date-time
        firm:
          title: The firm that created this quote
          type: string
        id:
          title: Exchange assigned ID for this quote
          type: string
        insert_time:
          title: The time this quote was inserted into the exchange
          type: string
          format: date-time
        name:
          title: Exchange assigned resource name for this quote
          type: string
        order_qty:
          type: string
          format: int64
        price:
          title: Desired price for the quote in integer representation
          type: string
          format: int64
        quote_request_id:
          title: Exchange assigned ID for the quote request that this quote references
          type: string
        side:
          $ref: '#/components/schemas/v1beta1Side'
        status:
          $ref: '#/components/schemas/v1beta1QuoteStatus'
        submitting_user:
          title: The agent participant that created this quote on behalf of the designated
            user
          type: string
        symbol:
          type: string
        symbol_sub_type:
          title: The sub type of the instrument symbol
          type: string
        user:
          title: The market participant that created this quote
          type: string
      description: Quote is a quote sent to and from the RFQ Exchange.
    connamaraep3v1beta1QuoteCancel:
      type: object
      properties:
        name:
          title: Exchange assigned resource name for the quote to cancel
          type: string
        symbol:
          type: string
      description: QuoteCancel is a request to cancel a quote in the RFQ Exchange.
    connamaraep3v1beta1QuotePass:
      type: object
      properties:
        name:
          title: Exchange assigned resource name for the quote to pass
          type: string
        symbol:
          type: string
      description: QuotePass is a request to pass on a quote in the RFQ Exchange.
    connamaraep3v1beta1QuoteReject:
      type: object
      properties:
        quote:
          $ref: '#/components/schemas/connamaraep3v1beta1Quote'
        quote_accept:
          $ref: '#/components/schemas/v1beta1QuoteAccept'
        quote_cancel:
          $ref: '#/components/schemas/connamaraep3v1beta1QuoteCancel'
        quote_pass:
          $ref: '#/components/schemas/connamaraep3v1beta1QuotePass'
        reject_reason:
          $ref: '#/components/schemas/v1beta1QuoteRejectReason'
        request_for_quote:
          $ref: '#/components/schemas/connamaraep3v1beta1RequestForQuote'
        symbol:
          type: string
        text:
          type: string
      description: QuoteReject is a reject for a message sent to the RFQ Exchange.
    connamaraep3v1beta1RequestForQuote:
      type: object
      properties:
        account:
          title: Account is the trading account for this quote request
          type: string
        client_id:
          title: Client assigned ID for this quote request
          type: string
        expiration_time:
          title: Timestamp at which this quote will expire
          type: string
          format: date-time
        firm:
          title: The firm that created this quote request
          type: string
        firms:
          title: Whitelist of targeted firms that this quote request will target
          type: array
          items:
            type: string
        id:
          title: Exchange assigned ID for the quote request
          type: string
        insert_time:
          title: The time this request was inserted into the exchange
          type: string
          format: date-time
        name:
          title: Exchange assigned resource name for the quote request
          type: string
        order_qty:
          type: string
          format: int64
        side:
          $ref: '#/components/schemas/v1beta1Side'
        status:
          $ref: '#/components/schemas/v1beta1QuoteStatus'
        submitting_user:
          title: The agent participant that created this quote request on behalf of
            the designated user
          type: string
        symbol:
          type: string
        symbol_sub_type:
          title: The sub type of the instrument symbol
          type: string
        user:
          title: The market participant that created this quote request
          type: string
      description: RequestForQuote is a quote request into the RFQ Exchange.
    connamaraep3v1beta1Trade:
      type: object
      properties:
        aggressor:
          $ref: '#/components/schemas/connamaraep3v1beta1Execution'
        id:
          title: Exchange assigned ID for this trade
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Metadata attached to this trade.
        passive:
          $ref: '#/components/schemas/connamaraep3v1beta1Execution'
        reporting_counterparty:
          $ref: '#/components/schemas/v1beta1Side'
        state:
          $ref: '#/components/schemas/v1beta1TradeState'
        text:
          type: string
          description: Additional detail regarding the status of the trade. May be
            empty.
        trade_link_id:
          type: string
          description: Exchange assigned ID for a group of trades that all executed
            within the same underlying transactional event in the platform.
        trade_type:
          $ref: '#/components/schemas/v1beta1TradeType'
      description: Trade is an execution grouping reflecting a trade between two orders
        in the system.
    ep3instrumentsv1beta1InstrumentState:
      type: string
      description: |-
        InstrumentState of the Instrument.

         - INSTRUMENT_STATE_PENDING: The instrument is still pending.
         - INSTRUMENT_STATE_CLOSED: The instrument is closed. No trading can occur.
         - INSTRUMENT_STATE_OPEN: The instrument is open and is available for full trading.
         - INSTRUMENT_STATE_PREOPEN: The instrument is available to place orders and modify them before the opening, but no matching will occur until the open.
         - INSTRUMENT_STATE_SUSPENDED: The instrument has temporarily suspended trading. In this state, no orders can be placed or modified, but they can be cancelled.
         - INSTRUMENT_STATE_EXPIRED: The instrument has expired.
         - INSTRUMENT_STATE_TERMINATED: The instrument has been terminated.
         - INSTRUMENT_STATE_HALTED: The instrument has halted trading.
        This state is similar to the suspended state in that no orders can be placed or modified,
        but orders cannot be cancelled unlike the suspended state which allows cancellation.
         - INSTRUMENT_STATE_MATCH_AND_CLOSE_AUCTION: The instrument is available to place orders and modify them just as in pre open, but no matching will occur until this state has been exited.
      default: INSTRUMENT_STATE_PENDING
      enum:
      - INSTRUMENT_STATE_PENDING
      - INSTRUMENT_STATE_CLOSED
      - INSTRUMENT_STATE_OPEN
      - INSTRUMENT_STATE_PREOPEN
      - INSTRUMENT_STATE_SUSPENDED
      - INSTRUMENT_STATE_EXPIRED
      - INSTRUMENT_STATE_TERMINATED
      - INSTRUMENT_STATE_HALTED
      - INSTRUMENT_STATE_MATCH_AND_CLOSE_AUCTION
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: |-
            A URL/resource name that uniquely identifies the type of the serialized
            protocol buffer message. This string must contain at least
            one "/" character. The last segment of the URL's path must represent
            the fully qualified name of the type (as in
            `path/google.protobuf.Duration`). The name should be in a canonical form
            (e.g., leading "." is not accepted).

            In practice, teams usually precompile into the binary all types that they
            expect it to use in the context of Any. However, for URLs which use the
            scheme `http`, `https`, or no scheme, one can optionally set up a type
            server that maps type URLs to message definitions as follows:

            * If no scheme is provided, `https` is assumed.
            * An HTTP GET on the URL must yield a [google.protobuf.Type][]
              value in binary format, or produce an error.
            * Applications are allowed to cache lookup results based on the
              URL, or have them precompiled into a binary to avoid any
              lookup. Therefore, binary compatibility needs to be preserved
              on changes to types. (Use versioned type names to manage
              breaking changes.)

            Note: this functionality is not currently available in the official
            protobuf release, and it is not used for type URLs beginning with
            type.googleapis.com. As of May 2023, there are no widely used type server
            implementations and no plans to implement one.

            Schemes other than `http`, `https` (or the empty scheme) might be
            used with implementation specific semantics.
      additionalProperties:
        type: object
      description: |-
        `Any` contains an arbitrary serialized protocol buffer message along with a
        URL that describes the type of the serialized message.

        Protobuf library provides support to pack/unpack Any values in the form
        of utility functions or additional generated methods of the Any type.

        Example 1: Pack and unpack a message in C++.

            Foo foo = ...;
            Any any;
            any.PackFrom(foo);
            ...
            if (any.UnpackTo(&foo)) {
              ...
            }

        Example 2: Pack and unpack a message in Java.

            Foo foo = ...;
            Any any = Any.pack(foo);
            ...
            if (any.is(Foo.class)) {
              foo = any.unpack(Foo.class);
            }
            // or ...
            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
              foo = any.unpack(Foo.getDefaultInstance());
            }

         Example 3: Pack and unpack a message in Python.

            foo = Foo(...)
            any = Any()
            any.Pack(foo)
            ...
            if any.Is(Foo.DESCRIPTOR):
              any.Unpack(foo)
              ...

         Example 4: Pack and unpack a message in Go

             foo := &pb.Foo{...}
             any, err := anypb.New(foo)
             if err != nil {
               ...
             }
             ...
             foo := &pb.Foo{}
             if err := any.UnmarshalTo(foo); err != nil {
               ...
             }

        The pack methods provided by protobuf library will by default use
        'type.googleapis.com/full.type.name' as the type URL and the unpack
        methods only use the fully qualified type name after the last '/'
        in the type URL, for example "foo.bar.com/x/y.z" will yield type
        name "y.z".

        JSON
        ====
        The JSON representation of an `Any` value uses the regular
        representation of the deserialized, embedded message, with an
        additional field `@type` which contains the type URL. Example:

            package google.profile;
            message Person {
              string first_name = 1;
              string last_name = 2;
            }

            {
              "@type": "type.googleapis.com/google.profile.Person",
              "firstName": <string>,
              "lastName": <string>
            }

        If the embedded message type is well-known and has a custom JSON
        representation, that representation will be embedded adding a field
        `value` which holds the custom JSON in addition to the `@type`
        field. Example (for message [google.protobuf.Duration][]):

            {
              "@type": "type.googleapis.com/google.protobuf.Duration",
              "value": "1.212s"
            }
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
        message:
          type: string
    v1beta1BasisSwapAttributes:
      type: object
      properties:
        effective_date_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        effective_date_offset:
          type: integer
          format: int32
        float_first_unadjusted_effective_date:
          $ref: '#/components/schemas/v1beta1Date'
        forward_starting_period:
          title: in units given by forward starting period time period
          type: integer
          format: int32
        forward_starting_period_time_period:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesTimePeriod'
        leg1_first_float_fixing_date:
          $ref: '#/components/schemas/v1beta1Date'
        leg1_first_float_reset_date:
          $ref: '#/components/schemas/v1beta1Date'
        leg1_float_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        leg1_float_compounding_method:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesCompoundingMethod'
        leg1_float_day_count_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDayCountConvention'
        leg1_float_first_unadjusted_payment_date:
          $ref: '#/components/schemas/v1beta1Date'
        leg1_float_fixing_date_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        leg1_float_fixing_date_holiday_calendars:
          title: London | TARGET | Canada | Norway | Swiss | Japan | Sweden | Denmark
          type: array
          items:
            type: string
        leg1_float_fixing_dates_day_type:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDayType'
        leg1_float_fixing_dates_offset:
          type: integer
          format: int32
        leg1_float_payment_date_offset:
          type: integer
          description: |-
            Number of Calendar days the payment is offset
            -2 | -1 | 0 | 1 | 2 | etc...
          format: int32
        leg1_float_payment_date_relative_to:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDateRelativeTo'
        leg1_float_payment_frequency:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesFrequency'
        leg1_float_rate_reset_frequency:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesFrequency'
        leg1_float_reset_date_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        leg1_float_reset_date_relative_to:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDateRelativeTo'
        leg1_float_roll_convention:
          title: |-
            EOM | FRN | IMM | IMMCAD | IMMAUD | IMMNZD | SFE | NONE | TBILL | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 |
            11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 |
            MON | TUE | WED | THU | FRI | SAT | SUN
          type: string
        leg1_floating_rate_index:
          title: |-
            1M USD LIBOR | 3M USD LIBOR | 6M USD LIBOR | 3M EURIBOR | 6M EURIBOR | 3M GDP LIBOR | 6M GDP LIBOR |
            3M CDOR | 6M NIBOR | 3M JPY LIBOR | 6M JPY LIBOR | 6M CNF LIBOR | 3M BBSW | 6M BBSW | 3M STIBOR | 6M CIBOR2
          type: string
        leg1_floating_rate_index_tenor:
          type: string
          description: 1M | 3M | 6M | 1Y | etc...
        leg1_index_tenor_omit:
          title: Flag that determines if the indexTenor fields will be omitted from
            certain adapter code
          type: boolean
        leg2_first_float_fixing_date:
          $ref: '#/components/schemas/v1beta1Date'
        leg2_first_float_reset_date:
          $ref: '#/components/schemas/v1beta1Date'
        leg2_float_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        leg2_float_compounding_method:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesCompoundingMethod'
        leg2_float_day_count_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDayCountConvention'
        leg2_float_first_unadjusted_payment_date:
          $ref: '#/components/schemas/v1beta1Date'
        leg2_float_fixing_date_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        leg2_float_fixing_date_holiday_calendars:
          type: array
          items:
            type: string
        leg2_float_fixing_dates_day_type:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDayType'
        leg2_float_fixing_dates_offset:
          type: integer
          format: int32
        leg2_float_payment_date_offset:
          type: integer
          description: |-
            Number of Calendar days the payment is offset
            -2 | -1 | 0 | 1 | 2 | etc...
          format: int32
        leg2_float_payment_date_relative_to:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDateRelativeTo'
        leg2_float_payment_frequency:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesFrequency'
        leg2_float_rate_reset_frequency:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesFrequency'
        leg2_float_reset_date_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        leg2_float_reset_date_relative_to:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDateRelativeTo'
        leg2_float_roll_convention:
          type: string
        leg2_floating_rate_index:
          type: string
        leg2_floating_rate_index_tenor:
          type: string
        leg2_index_tenor_omit:
          title: Flag that determines if the indexTenor fields will be omitted from
            certain adapter code
          type: boolean
        maturity_date:
          $ref: '#/components/schemas/v1beta1Date'
        maturity_date_business_day_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesBusinessDayConvention'
        payment_date_day_type:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesDayType'
        roll_and_payment_date_holiday_calendars:
          title: |-
            usually only 1 calendar but can be 2.
            New York | London | TARGET | Canada | Norway | Swiss | Japan | Sweden | Denmark
          type: array
          items:
            type: string
        side_convention:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesSideConvention'
        swap_effective_date:
          $ref: '#/components/schemas/v1beta1Date'
        tenor:
          title: tenor is the duration of the contract in units given by the tenor
            time period
          type: integer
          format: int32
        tenor_time_period:
          $ref: '#/components/schemas/v1beta1InterestRateSwapAttributesTimePeriod'
        unadjusted_maturity_date:
          $ref: '#/components/schemas/v1beta1Date'
      description: BasisSwapAttributes are attributes that define an Basis Swap tradable
        instrument.
    v1beta1BlockTradeThreshold:
      type: object
      properties:
        minimum_notional:
          type: string
          description: "The minimum notional that must be provided for an order cross\
            \ to be marked as a block trade in units of the price_scale multiplied\
            \ by the fractional_qty_scale. For example, given a price_scale of 100\
            \ and a fractional_qty_scale of 10, the minimum_notional should be in\
            \ units of 100 * 10 = 1000. So if a Minimum Notional of 50 USD is desired,\
            \ the minimum_notional integer should be set to 50 * 1000 = 50000. Either\
            \ this threshold or the minimum quantity criteria must be met for a valid\
            \ block trade."
          format: int64
        minimum_quantity:
          type: string
          description: The minimum quantity that must be provided for an order cross
            to be marked as a block trade in units of fractional_qty_scale. Either
            this threshold or the minimum notional criteria must be met for a valid
            block trade.
          format: int64
      description: BlockTradeThreshold describes the minimum values required to mark
        an order cross as a block trade.
    v1beta1CalculationMethod:
      type: string
      description: |-
        CalculationMethod of the event.

         - CALCULATION_METHOD_UNDEFINED: The undefined default value.
         - CALCULATION_METHOD_MONTH_OVER_MONTH: Indicates the outcome data value (e.g. 1.5%) used to resolve an event (e.g. May 2022 CPI) was calculated by the data source (e.g. Bureau of Labor Statistics) as a month-over-month change.
         - CALCULATION_METHOD_YEAR_OVER_YEAR: Indicates the outcome data value (e.g. 1.5%) used to resolve an event (e.g. May 2022 CPI) was calculated by the data source (e.g. Bureau of Labor Statistics) as a year-over-year change.
         - CALCULATION_METHOD_VALUE: Indicates a single outcome data value is used to resolve the event (e.g. "Donald Trump" or "12 inches of rain"), with no comparison to a prior data value required.
         - CALCULATION_METHOD_QUARTER_OVER_QUARTER: Indicates the outcome data value (e.g. 1.5%) used to resolve an event (e.g. May 2022 CPI) was calculated by the data source (e.g. Bureau of Labor Statistics) as a quarter-over-quarter change.
      default: CALCULATION_METHOD_UNDEFINED
      enum:
      - CALCULATION_METHOD_UNDEFINED
      - CALCULATION_METHOD_MONTH_OVER_MONTH
      - CALCULATION_METHOD_YEAR_OVER_YEAR
      - CALCULATION_METHOD_VALUE
      - CALCULATION_METHOD_QUARTER_OVER_QUARTER
    v1beta1CancelOrderListRequest:
      type: object
      properties:
        requests:
          type: array
          description: A list of requests to cancel orders.
          items:
            $ref: '#/components/schemas/v1beta1CancelOrderRequest'
      description: Request to cancel multiple existing orders with the given details.
    v1beta1CancelOrderListResponse:
      type: object
      properties:
        responses:
          type: array
          description: A list of responses to cancelled orders.
          items:
            $ref: '#/components/schemas/v1beta1CancelOrderResponse'
    v1beta1CancelOrderRequest:
      type: object
      properties:
        clord_id:
          type: string
          description: Client assigned ID for the order cancel.
        order_id:
          type: string
          description: Exchange assigned ID for the order to be cancelled (required).
        symbol:
          type: string
          description: The instrument symbol for the order (required).
        symbol_sub_type:
          type: string
          description: The sub type of the instrument symbol.
      description: Request to cancel an existing order with the given details.
    v1beta1CancelOrderResponse:
      type: object
    v1beta1CancelReplaceOrderListRequest:
      type: object
      properties:
        requests:
          type: array
          description: A list of requests to update orders.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1CancelReplaceOrderRequest'
      description: Request to update multiple existing orders with the given details.
    v1beta1CancelReplaceOrderListResponse:
      type: object
      properties:
        responses:
          type: array
          description: A list of responses to updated orders.
          items:
            $ref: '#/components/schemas/v1beta1CancelReplaceOrderResponse'
    v1beta1CancelReplaceOrderResponse:
      type: object
    v1beta1ConditionTriggerMethod:
      type: string
      description: |-
        ConditionTriggerMethod is the methodology used to trigger an order for insertion onto the book.

         - CONDITION_TRIGGER_METHOD_UNDEFINED: An unset value for the trigger method must be used when the order type is not meant to trigger (a limit order for instance) or uses the default last price method for orders that do trigger (a stop order for instance).
         - CONDITION_TRIGGER_METHOD_LAST_PRICE: Trigger the order using the last trade price on the book.
         - CONDITION_TRIGGER_METHOD_SETTLEMENT_PRICE: Trigger the order using the settlement price on the book.
      default: CONDITION_TRIGGER_METHOD_UNDEFINED
      enum:
      - CONDITION_TRIGGER_METHOD_UNDEFINED
      - CONDITION_TRIGGER_METHOD_LAST_PRICE
      - CONDITION_TRIGGER_METHOD_SETTLEMENT_PRICE
    v1beta1CreateMarketDataSubscriptionRequest:
      type: object
      properties:
        depth:
          type: integer
          format: int32
        snapshot_only:
          type: boolean
        symbols:
          type: array
          items:
            type: string
        unaggregated:
          type: boolean
    v1beta1CreateMarketDataSubscriptionResponse:
      type: object
      properties:
        heartbeat:
          $ref: '#/components/schemas/v1beta1Heartbeat'
        update:
          $ref: '#/components/schemas/v1beta1CreateMarketDataSubscriptionResponseUpdate'
    v1beta1CreateMarketDataSubscriptionResponseUpdate:
      type: object
      properties:
        bids:
          type: array
          items:
            $ref: '#/components/schemas/CreateMarketDataSubscriptionResponseBookEntry'
        book_hidden:
          type: boolean
        offers:
          type: array
          items:
            $ref: '#/components/schemas/CreateMarketDataSubscriptionResponseBookEntry'
        state:
          $ref: '#/components/schemas/connamaraep3v1beta1InstrumentState'
        stats:
          $ref: '#/components/schemas/v1beta1InstrumentStats'
        symbol:
          type: string
        transact_time:
          type: string
          format: date-time
      description: Update is streamed on a market data update.
    v1beta1CreateOrderSubscriptionRequest:
      type: object
      properties:
        accounts:
          type: array
          description: |-
            A list of accounts to filter upon and return in streamed responses.
            This field is optional.
          items:
            type: string
        snapshot_only:
          type: boolean
          description: "If true, only return the current set of snapshots for working\
            \ orders and do not keep an open subscription."
        symbols:
          type: array
          description: |-
            A list of symbols to filter upon and return in streamed responses.
            This field is optional.
          items:
            type: string
      description: Request to start an order subscription to get snapshots and updates
        for this session.
    v1beta1CreateOrderSubscriptionResponse:
      type: object
      properties:
        heartbeat:
          $ref: '#/components/schemas/v1beta1Heartbeat'
        processed_sent_time:
          type: string
          description: "The time at which this message was processed and sent by the\
            \ gateway, useful for calculating real world networking latency."
          format: date-time
        session_id:
          type: string
          description: ID of the session this subscription belongs to.
        snapshot:
          $ref: '#/components/schemas/v1beta1CreateOrderSubscriptionResponseSnapshot'
        update:
          $ref: '#/components/schemas/v1beta1CreateOrderSubscriptionResponseUpdate'
    v1beta1CreateOrderSubscriptionResponseSnapshot:
      type: object
      properties:
        orders:
          type: array
          description: A list of orders contained in the snapshot.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1Order'
      description: Snapshot is the current state of working orders.
    v1beta1CreateOrderSubscriptionResponseUpdate:
      type: object
      properties:
        cancel_reject:
          $ref: '#/components/schemas/connamaraep3v1beta1CancelReject'
        executions:
          type: array
          description: "A list of executions involving working orders, or new orders\
            \ after subscription."
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1Execution'
      description: "Update(s) are modifications to working orders, or new orders after\
        \ subscription."
    v1beta1CreatePositionSubscriptionRequest:
      type: object
      properties:
        accounts:
          type: array
          description: "A set of fully qualified resource names of the accounts to\
            \ filter upon in the subscription (ie: \"firms/[firmid]/accounts/[accountid]\"\
            ) (optional)."
          items:
            type: string
      description: Request to start a position subscription to get snapshots and updates
        for this session.
    v1beta1CreatePositionSubscriptionResponse:
      type: object
      properties:
        heartbeat:
          $ref: '#/components/schemas/v1beta1Heartbeat'
        snapshot:
          $ref: '#/components/schemas/v1beta1CreatePositionSubscriptionResponseSnapshot'
        update:
          $ref: '#/components/schemas/v1beta1CreatePositionSubscriptionResponseUpdate'
    v1beta1CreatePositionSubscriptionResponseSnapshot:
      type: object
      properties:
        positions:
          type: array
          description: A list of positions contained in the snapshot.
          items:
            $ref: '#/components/schemas/v1beta1Position'
      description: Snapshot is the current state of positions in the system that is
        returned after the initial subscription request.
    v1beta1CreatePositionSubscriptionResponseUpdate:
      type: object
      properties:
        positions:
          type: array
          description: A list of positions contained in the Update message.
          items:
            $ref: '#/components/schemas/v1beta1Position'
      description: Update is the current state of positions in the system that is
        streamed once a position updates.
    v1beta1CreateQuoteRequest:
      type: object
      properties:
        parent:
          type: string
          description: Exchange assigned ID for the parent quote request that this
            quote references (required).
        quote:
          $ref: '#/components/schemas/connamaraep3v1beta1Quote'
      description: Request to insert a quote into the exchange.
    v1beta1CreateQuoteResponse:
      type: object
    v1beta1CreateQuoteSubscriptionRequest:
      type: object
      description: Request to start a quote subscription to get snapshots and updates
        for this session.
    v1beta1CreateQuoteSubscriptionResponse:
      type: object
      properties:
        heartbeat:
          $ref: '#/components/schemas/v1beta1Heartbeat'
        snapshot:
          $ref: '#/components/schemas/v1beta1CreateQuoteSubscriptionResponseSnapshot'
        update:
          $ref: '#/components/schemas/v1beta1CreateQuoteSubscriptionResponseUpdate'
    v1beta1CreateQuoteSubscriptionResponseSnapshot:
      type: object
      properties:
        quotes:
          type: array
          description: List of quotes contained in the snapshot.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1Quote'
        request_for_quotes:
          type: array
          description: List of RFQs contained in the snapshot.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1RequestForQuote'
      description: Snapshot is the current state of quotes and requests in the system
        that is returned on the initial subscription request.
    v1beta1CreateQuoteSubscriptionResponseUpdate:
      type: object
      properties:
        quotes:
          type: array
          description: List of quotes contained in the update.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1Quote'
        rejects:
          type: array
          description: List of quote rejects contained in the update.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1QuoteReject'
        request_for_quotes:
          type: array
          description: List of RFQs contained in the update.
          items:
            $ref: '#/components/schemas/connamaraep3v1beta1RequestForQuote'
      description: Update(s) are the creation of new or modification of existing quotes
        and requests after subscription.
    v1beta1CreateRequestForQuoteRequest:
      type: object
      properties:
        request_for_quote:
          $ref: '#/components/schemas/connamaraep3v1beta1RequestForQuote'
      description: Request to insert a request for quote into the exchange.
    v1beta1CreateRequestForQuoteResponse:
      type: object
    v1beta1CrossType:
      type: string
      description: |-
        CrossType specifies the type of order cross. Must be set when inserting a cross.

         - CROSS_TYPE_ALL_OR_NONE: Cross order will either fill all of the order quantity or none of it
      default: CROSS_TYPE_UNDEFINED
      enum:
      - CROSS_TYPE_UNDEFINED
      - CROSS_TYPE_ALL_OR_NONE
    v1beta1CxlRejReason:
      type: string
      description: CxlRejReason is a code to identify the reason for cancel rejection.
      default: CXL_REJ_REASON_EXCHANGE_OPTION
      enum:
      - CXL_REJ_REASON_EXCHANGE_OPTION
      - CXL_REJ_REASON_UNKNOWN_ORDER
      - CXL_REJ_REASON_EXCHANGE_CLOSED
      - CXL_REJ_REASON_INCORRECT_QUANTITY
      - CXL_REJ_REASON_INVALID_PRICE_INCREMENT
      - CXL_REJ_REASON_PRICE_OUT_OF_BOUNDS
    v1beta1Date:
      type: object
      properties:
        day:
          type: integer
          description: |-
            Day of month. Must be from 1 to 31 and valid for the year and month, or 0
            if specifying a year by itself or a year and month where the day is not
            significant.
          format: int32
        month:
          type: integer
          description: |-
            Month of year. Must be from 1 to 12, or 0 if specifying a year without a
            month and day.
          format: int32
        year:
          type: integer
          description: |-
            Year of date. Must be from 1 to 9999, or 0 if specifying a date without
            a year.
          format: int32
      description: Date represents a whole or partial calendar date.
    v1beta1DayOfWeek:
      type: string
      description: |-
        DayOfWeek represents a day of week.

         - DAY_OF_WEEK_UNSPECIFIED: The unspecified day-of-week.
         - DAY_OF_WEEK_MONDAY: The day-of-week of Monday.
         - DAY_OF_WEEK_TUESDAY: The day-of-week of Tuesday.
         - DAY_OF_WEEK_WEDNESDAY: The day-of-week of Wednesday.
         - DAY_OF_WEEK_THURSDAY: The day-of-week of Thursday.
         - DAY_OF_WEEK_FRIDAY: The day-of-week of Friday.
         - DAY_OF_WEEK_SATURDAY: The day-of-week of Saturday.
         - DAY_OF_WEEK_SUNDAY: The day-of-week of Sunday.
      default: DAY_OF_WEEK_UNSPECIFIED
      enum:
      - DAY_OF_WEEK_UNSPECIFIED
      - DAY_OF_WEEK_MONDAY
      - DAY_OF_WEEK_TUESDAY
      - DAY_OF_WEEK_WEDNESDAY
      - DAY_OF_WEEK_THURSDAY
      - DAY_OF_WEEK_FRIDAY
      - DAY_OF_WEEK_SATURDAY
      - DAY_OF_WEEK_SUNDAY
    v1beta1DeleteQuoteRequest:
      type: object
      properties:
        name:
          type: string
          description: Exchange assigned ID for the quote to be deleted.
      description: Request to delete a quote from the exchange.
    v1beta1DeleteQuoteResponse:
      type: object
    v1beta1DownloadExecutionsRequest:
      type: object
      properties:
        accounts:
          type: array
          description: "Fully qualified resource account names to filter upon (ie:\
            \ \"firms/[firmid]/accounts/[accountid]\")."
          items:
            type: string
        end_time:
          type: string
          description: End time for the executions to be fetched.
          format: date-time
        start_time:
          type: string
          description: Start time for the executions to be fetched.
          format: date-time
      description: Request to download executions filtered using the given details
        as a csv.
    v1beta1DownloadExecutionsResponse:
      type: object
      properties:
        filechunk:
          type: string
          description: bytes array of file stream.
    v1beta1DownloadOrdersRequest:
      type: object
      properties:
        accounts:
          type: array
          description: "Fully qualified resource account names to filter upon (ie:\
            \ \"firms/[firmid]/accounts/[accountid]\")."
          items:
            type: string
        end_time:
          type: string
          description: End time for the orders to be fetched.
          format: date-time
        start_time:
          type: string
          description: Start time for the orders to be fetched.
          format: date-time
      description: Request to download orders filtered using the given details as
        a csv.
    v1beta1DownloadOrdersResponse:
      type: object
      properties:
        filechunk:
          type: string
          description: bytes array of file stream.
    v1beta1DownloadTradesRequest:
      type: object
      properties:
        accounts:
          type: array
          description: "Fully qualified resource account names to filter upon (ie:\
            \ \"firms/[firmid]/accounts/[accountid]\")."
          items:
            type: string
        end_time:
          type: string
          description: End time for the trades to be fetched.
          format: date-time
        start_time:
          type: string
          description: Start time for the trades to be fetched.
          format: date-time
      description: Request to download trades filtered using the given details as
        a csv.
    v1beta1DownloadTradesResponse:
      type: object
      properties:
        filechunk:
          type: string
          description: bytes array of file stream.
    v1beta1EventAttributes:
      type: object
      properties:
        calculation_method:
          $ref: '#/components/schemas/v1beta1CalculationMethod'
        evaluation_type:
          type: string
          description: Type of evaluation to be used when interpreting strike_value.
        event_display_name:
          type: string
          description: The common/shared display name across EP3 event instruments
            that describes the underlying market conditions for an event.
        event_id:
          type: string
          description: The common/shared ID across EP3 event instruments that describes
            the underlying market conditions for an event.
        expected_payout_date:
[...]
