{
  "openapi": "3.0.1",
  "info": {
    "title": "Positions API",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.polymarketexchange.com"
    }
  ],
  "tags": [
    {
      "name": "PositionAPI"
    }
  ],
  "paths": {
    "/v1/positions": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "List account positions",
        "description": "Lists all positions within an account",
        "operationId": "PositionAPI_ListAccountPositions",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fully qualified resource name of the account."
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Symbol to filter (optional)."
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountPositionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/positions/balance": {
      "post": {
        "tags": [
          "Positions"
        ],
        "summary": "Get account balance",
        "description": "Gets the balance for a currency in an account",
        "operationId": "PositionAPI_GetAccountBalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountBalanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountBalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/positions/balances": {
      "post": {
        "tags": [
          "Positions"
        ],
        "summary": "List account balances",
        "description": "Lists all currency balances in an account",
        "operationId": "PositionAPI_ListAccountBalances",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountBalancesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountBalancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/positions/subscription": {
      "post": {
        "tags": [
          "Positions"
        ],
        "summary": "Create position subscription",
        "description": "Creates a subscription for position updates (streaming)",
        "operationId": "PositionAPI_CreatePositionSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePositionSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/CreatePositionSubscriptionResponse"
                    }
                  },
                  "title": "Stream result of v1CreatePositionSubscriptionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SecurityEntry": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "string"
          },
          "marketValue": {
            "type": "string"
          },
          "haircut": {
            "type": "string",
            "format": "int64"
          },
          "notionalValue": {
            "type": "string"
          },
          "availableValue": {
            "type": "string"
          }
        },
        "description": "SecurityEntry describes the valuation of a security."
      },
      "CreatePositionSubscriptionRequest": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A set of fully qualified resource names of the accounts to filter upon."
          }
        },
        "description": "Request to start a position subscription."
      },
      "CreatePositionSubscriptionResponse": {
        "type": "object",
        "properties": {
          "heartbeat": {
            "$ref": "#/components/schemas/Heartbeat"
          },
          "snapshot": {
            "$ref": "#/components/schemas/CreatePositionSubscriptionResponseSnapshot"
          },
          "update": {
            "$ref": "#/components/schemas/CreatePositionSubscriptionResponseUpdate"
          }
        },
        "description": "Response for position subscription (streaming)."
      },
      "CreatePositionSubscriptionResponseSnapshot": {
        "type": "object",
        "properties": {
          "positions": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/components/schemas/Position"
            }
          }
        },
        "description": "Snapshot is the current state of positions."
      },
      "CreatePositionSubscriptionResponseUpdate": {
        "type": "object",
        "properties": {
          "positions": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/components/schemas/Position"
            }
          }
        },
        "description": "Update contains position updates."
      },
      "GetAccountBalanceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Fully qualified resource name of the account."
          },
          "currency": {
            "type": "string",
            "description": "ISO currency code (e.g., \"USD\")."
          }
        },
        "description": "Request to get the balance of an account in a currency."
      },
      "GetAccountBalanceResponse": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "string"
          },
          "capitalRequirement": {
            "type": "string"
          },
          "excessCapital": {
            "type": "string"
          },
          "buyingPower": {
            "type": "string"
          },
          "securities": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SecurityEntry"
            }
          },
          "totalSecurityNotionalValue": {
            "type": "string"
          },
          "totalSecurityAvailableValue": {
            "type": "string"
          },
          "openOrders": {
            "type": "string"
          },
          "alternateCapitalRequirementCurrency": {
            "type": "string"
          },
          "alternateCapitalRequirement": {
            "type": "string"
          },
          "unsettledFunds": {
            "type": "string"
          },
          "marginRequirement": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "Response with account balance details."
      },
      "Heartbeat": {
        "type": "object",
        "description": "Heartbeat can be sent on a streaming RPC call to keep the line open."
      },
      "ListAccountBalancesRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Fully qualified resource name of the account."
          }
        },
        "description": "Request to list all balances in an account."
      },
      "ListAccountBalancesResponse": {
        "type": "object",
        "properties": {
          "balances": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GetAccountBalanceResponse"
            }
          }
        },
        "description": "Response with all account balances by currency."
      },
      "ListAccountPositionsRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Fully qualified resource name of the account."
          },
          "symbol": {
            "type": "string",
            "description": "Symbol to filter (optional)."
          }
        },
        "description": "Request to list positions in an account."
      },
      "ListAccountPositionsResponse": {
        "type": "object",
        "properties": {
          "positions": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/components/schemas/Position"
            }
          },
          "availablePosition": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            }
          }
        },
        "description": "Response with account positions."
      },
      "Position": {
        "type": "object",
        "properties": {
          "account": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "netPosition": {
            "type": "string",
            "format": "int64"
          },
          "qtyBought": {
            "type": "string",
            "format": "int64"
          },
          "qtySold": {
            "type": "string",
            "format": "int64"
          },
          "cost": {
            "type": "string",
            "format": "int64"
          },
          "realized": {
            "type": "string",
            "format": "int64"
          },
          "bodPosition": {
            "type": "string",
            "format": "int64"
          },
          "expired": {
            "type": "boolean"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}