{
  "openapi": "3.0.1",
  "info": {
    "title": "Quote Entry API",
    "version": "v0.6.1"
  },
  "servers": [
    {
      "url": "http://api.polymarketexchange.com"
    }
  ],
  "tags": [
    {
      "name": "QuoteEntryAPI"
    }
  ],
  "paths": {
    "/v1beta1/create_quote": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "Create Quote",
        "description": "Inserts a quote into the exchange.",
        "operationId": "QuoteEntryAPI_CreateQuote",
        "requestBody": {
          "description": "Request to insert a quote into the exchange.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1CreateQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1CreateQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta1/create_quote_subscription": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "Create Quote Subscription",
        "description": "Creates a subscription to get snapshots and updates for quotes and RFQs.",
        "operationId": "QuoteEntryAPI_CreateQuoteSubscription",
        "requestBody": {
          "description": "Request to start a quote subscription to get snapshots and updates for this session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1CreateQuoteSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response (streaming).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1CreateQuoteSubscriptionResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta1/create_request_for_quote": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "Create RFQ",
        "description": "Inserts a request for quote into the exchange.",
        "operationId": "QuoteEntryAPI_CreateRequestForQuote",
        "requestBody": {
          "description": "Request to insert a request for quote into the exchange.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1CreateRequestForQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1CreateRequestForQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta1/delete_quote": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "Delete Quote",
        "description": "Deletes a quote from the exchange.",
        "operationId": "QuoteEntryAPI_DeleteQuote",
        "requestBody": {
          "description": "Request to delete a quote from the exchange.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1DeleteQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1DeleteQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta1/list_dealers": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "List Dealers",
        "description": "Returns a list of whitelisted firms that are able to receive a request for quote that I send.",
        "operationId": "QuoteEntryAPI_ListDealers",
        "requestBody": {
          "description": "Request to get the whitelist of firms that are able to receive a request for quote that I send.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1ListDealersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1ListDealersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta1/list_requesters": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "List Requesters",
        "description": "Returns the whitelist of firms that are able to send a request for quote to my firm.",
        "operationId": "QuoteEntryAPI_ListRequesters",
        "requestBody": {
          "description": "Request to get the whitelist of firms that are able to send a request for quote to my firm.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1ListRequestersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1ListRequestersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta1/pass_quote": {
      "post": {
        "tags": ["QuoteEntryAPI"],
        "summary": "Pass Quote",
        "description": "Passes on a quote from the exchange.",
        "operationId": "QuoteEntryAPI_PassQuote",
        "requestBody": {
          "description": "Request to pass on a quote from the exchange.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1beta1PassQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1beta1PassQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {}
      },
      "rpcStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "v1beta1CreateQuoteRequest": {
        "type": "object",
        "description": "Request to insert a quote into the exchange.",
        "properties": {
          "parent": {
            "type": "string",
            "description": "Exchange assigned ID for the parent quote request that this quote references (required)."
          },
          "quote": {
            "type": "object",
            "description": "The quote to insert."
          }
        }
      },
      "v1beta1CreateQuoteResponse": {
        "type": "object"
      },
      "v1beta1CreateQuoteSubscriptionRequest": {
        "type": "object",
        "description": "Request to start a quote subscription to get snapshots and updates for this session."
      },
      "v1beta1CreateQuoteSubscriptionResponse": {
        "type": "object",
        "properties": {
          "heartbeat": {
            "type": "object",
            "description": "Heartbeat message to keep the connection alive."
          },
          "snapshot": {
            "type": "object",
            "description": "Initial snapshot of quotes and RFQs.",
            "properties": {
              "quotes": {
                "type": "array",
                "description": "List of quotes contained in the snapshot.",
                "items": {
                  "type": "object"
                }
              },
              "request_for_quotes": {
                "type": "array",
                "description": "List of RFQs contained in the snapshot.",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "update": {
            "type": "object",
            "description": "Updates after initial subscription.",
            "properties": {
              "quotes": {
                "type": "array",
                "description": "List of quotes contained in the update.",
                "items": {
                  "type": "object"
                }
              },
              "rejects": {
                "type": "array",
                "description": "List of quote rejects contained in the update.",
                "items": {
                  "type": "object"
                }
              },
              "request_for_quotes": {
                "type": "array",
                "description": "List of RFQs contained in the update.",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "v1beta1CreateRequestForQuoteRequest": {
        "type": "object",
        "description": "Request to insert a request for quote into the exchange.",
        "properties": {
          "request_for_quote": {
            "type": "object",
            "description": "The request for quote to insert."
          }
        }
      },
      "v1beta1CreateRequestForQuoteResponse": {
        "type": "object"
      },
      "v1beta1DeleteQuoteRequest": {
        "type": "object",
        "description": "Request to delete a quote from the exchange.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Exchange assigned ID for the quote to be deleted."
          }
        }
      },
      "v1beta1DeleteQuoteResponse": {
        "type": "object"
      },
      "v1beta1ListDealersRequest": {
        "type": "object",
        "description": "Request to get the whitelist of firms that are able to receive a request for quote that I send."
      },
      "v1beta1ListDealersResponse": {
        "type": "object",
        "properties": {
          "display_names": {
            "type": "array",
            "description": "List of display names for the whitelisted firms.",
            "items": {
              "type": "string"
            }
          },
          "firms": {
            "type": "array",
            "description": "Fully qualified resource names for the whitelisted firms (ie: \"firms/[firmid]\").",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "v1beta1ListRequestersRequest": {
        "type": "object",
        "description": "Request to get the whitelist of firms that are able to send a request for quote to my firm."
      },
      "v1beta1ListRequestersResponse": {
        "type": "object",
        "properties": {
          "display_names": {
            "type": "array",
            "description": "List of display names for the whitelisted firms.",
            "items": {
              "type": "string"
            }
          },
          "firms": {
            "type": "array",
            "description": "Fully qualified resource names for the whitelisted firms (ie: \"firms/[firmid]\").",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "v1beta1PassQuoteRequest": {
        "type": "object",
        "description": "Request to pass on a quote from the exchange.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Exchange assigned ID for the quote to pass on."
          }
        }
      },
      "v1beta1PassQuoteResponse": {
        "type": "object"
      }
    }
  }
}
